# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/

# IDE / editor folders
.vscode/
.idea/

# PyInstaller / executable builds
*.spec

# System files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
